# stuff I don't want to export to the world
doc/2017-07*
doc/asm.txt
doc/diary.txt
doc/old-readme.txt
doc/plans.txt
misc/*.lang
*test*.log
*test*.sh

# coexistence with Mercurial
.hg
.hgignore

# backup files
*~

# gcc precompiled headers
*.h.gch

# a2ps output
*.ps

# silly little temp files
xxx*
*.swp

# ctags (used by misc/check-reserved.pl)
tags

# releases
revax-*.tar.gz
revax-*.zip

# executables -- standard programs
revax-asm
revax-dis
revax-sim
revax-uop

# executables -- internal tools/test/experiments
a.out
src/fragtable

misc/regalloc
idioms
fp-ieee
cmp-sub

test-big-int
test-fp
test-op
test-alu
test-analyze
test-dis-uop

test-big-int-nosan
test-fp-nosan
test-op-nosan
test-alu-nosan
test-analyze-nosan
test-dis-uop-nosan

afl-test-big-int
afl-test-fp
afl-test-op
afl-test-alu
afl-test-analyze

# gcc/clang output
*.o
*.s

# Windows stuff
*.obj
*.h.c

# generated source code files
src/vax-instr.h
src/vax-instr.pl
src/vax-ucode.h
src/vax-fraglists.h
src/op-asm.h
src/op-dis.h
src/op-sim.h
src/op-val.h

# small VAX test programs
runtime/test*.bin

# disassembled VAX code
vax-bin/*.asm
vax-bin/*.lst
vax-bin/*.html
*.disasm
*.lst
*.html
*.raw

# coverage analysis
*.gcda
*.gcno
*.info
cov

# cachegrind analysis
cachegrind.out.*

# output from test-* progams during test
misc/*.output

# AFL tests
afl/

